.zdm-welcome-notice {
    padding: 16px;
}

.zdm-welcome-icon-holder {
    width: 150px;
    height: 150px;
    float: left;
    margin: 0 38px 38px 0;
}

.zdm-welcome-icon {
    width: 100%;
    height: 100%;
    display: block;
}

.zdm-help-text {
    color: #777;
    margin-top: 4px;
}
.zdm-help-text a {
    opacity: 0.7;
}

.zdm-select-50 {
    width: 50%;
    float: left;
}

.zdm-table-list tr td {
    padding: 0px 10px 0px 0px;
}

.zdm-postbox-100 {
    min-width: 300px;
    width: 100%;
}

.zdm-postbox-col-md {
    min-width: 300px;
    width: 60%;
    padding: 0 1% 0 0;
}

.zdm-postbox-col-sm {
    min-width: 300px;
    width: 39%;
}

.zdm-icon {
    font-size: 18px !important;
    margin-left: 8px;
    margin-right: 18px;
}

.zdm-icon-in-table {
    font-size: 18px !important;
}

ion-icon {
    position: relative;
    /* Adjust these values accordingly */
    top: 3px;
}

/********************
 Buttons
********************/

.zdm-btn-danger {
    color: #fff !important;
    background: #fa3e3e !important;
    border-color: #7A1E1E !important;
    box-shadow: none !important;
}
.zdm-btn-danger:hover {
    background: #FF6D63 !important;
}

.zdm-btn-danger-outline {
    color: #fa3e3e !important;
    background: #fff !important;
    border-color: #fa3e3e !important;
    box-shadow: none !important;
}
.zdm-btn-danger-outline:hover {
    color: #7A1E1E !important;
    border-color: #7A1E1E !important;
}

.zdm-btn-danger-2-outline {
    color: #7A1E1E !important;
    background: #fff !important;
    box-shadow: none !important;
}
.zdm-btn-danger-2-outline:hover {
    color: #fa3e3e !important;
    border-color: #7A1E1E !important;
}

/********************
 Colors
********************/

.zdm-color-black {
    color: #000 !important;
}

.zdm-color-grey5 {
    color: #555 !important;
}

.zdm-color-grey7 {
    color: #777 !important;
}

.zdm-color-grey9 {
    color: #999 !important;
}

.zdm-color-grey11 {
    color: #bbb !important;
}

.zdm-color-grey13 {
    color: #ddd !important;
}

.zdm-color-primary {
    color: #00caff !important;
}

.zdm-color-green {
    color: #59C71D !important;
}

.zdm-color-yellow {
    color: #FFCD19 !important;
}

.zdm-color-orange {
    color: #FF7C00 !important;
}

.zdm-color-red {
    color: #FA3E3E !important;
}

.zdm-color-bg-black {
    background: #000 !important;
}

.zdm-color-bg-grey5 {
    background: #555 !important;
}

.zdm-color-bg-grey7 {
    background: #777 !important;
}

.zdm-color-bg-grey9 {
    background: #999 !important;
}

.zdm-color-bg-grey11 {
    background: #bbb !important;
}

.zdm-color-bg-grey13 {
    background: #ddd !important;
}

.zdm-color-bg-purple {
    background: #CB28CC !important;
}

.zdm-color-bg-blue {
    background: #0C80E8 !important;
}

.zdm-color-bg-green {
    background: #59C71D !important;
}

.zdm-color-bg-yellow {
    background: #FFCD19 !important;
}

.zdm-color-bg-orange {
    background: #FF7C00 !important;
}

.zdm-color-bg-red {
    background: #FA3E3E !important;
}